<%- include('../partials/header') %>

<h2>Edit Book</h2>
<form action="/books/<%= book.id %>?_method=PUT" method="POST" autocomplete="on">
<label>Title:
    <input type="text" name="title" value="<%= book.title %>">
</label><br>
<label>Author:
    <input type="text" name="author" value="<%= book.author %>">
</label><br>
<label>Year Published:
    <input type="number" name="datePublished" value="<%= book.datePublished %>">
</label><br>
<label>Pages:
    <input type="number" name="pageCount" value="<%= book.pageCount %>">
</label><br>
<label>Priority:
<select name="priority">
    <option value="low" <%= book.priority === 'low' ? 'selected' : '' %>>Low</option>
    <option value="med" <%= book.priority === 'med' ? 'selected' : '' %>>Med</option>
    <option value="high" <%= book.priority === 'high' ? 'selected' : '' %>>High</option>
</select>
</label><br>
  <button type="submit">Update Book</button>
</form>


<%- include('../partials/footer') %>