<%- include('../partials/header') %>

<% if (user) { %>

<div class="table-container is-mobile">
  <table id="bookshelf" class="table is-mobile">
    <thead class="table is-mobile">
      <tr>
        <th></th>
        <th title="Cover">Cover</th>
        <th title="Title">Title</th>
        <th title="Author">Author</th>
        <th title="Year Published">Published</th>
        <th title="Pages">Pages</th>
        <th title="Date Added">Date Added</th>
        <th title="Priority">Priority</th>
        <th title="Details">Details</th>
      </tr>
    </thead>
    <% books.forEach(function(b) { %>
    <% if(user?._id.equals(b.user)) { %>
    <tbody class="table is-bordered is-mobile">
      <tr>
        <td id="delete-book-btn">
          <form action="/books/book/<%= b._id %>?_method=DELETE" method="POST">
          <button class="delete is-medium" type="submit"></button>
          </form>
        </td>
        <td class="image">
          <figure class="image">
              <img src="<%= b.coverPhoto %>" alt=" "> 
          </figure>
        </td>
        <td class="book-title"><%= b.title %></td>
        <td><%= b.author %></td>
        <td><%= b.datePublished %></td>
        <td><%= b.pageCount %></td>
        <td><%= b.createdAt.toLocaleDateString() %></td>
        <td><%= b.priority %></td>
        <td><a class="button is-light is-responsive" href="/books/<%= b._id %>">Details</a></td>
      </tr>
      <% } %>
      <% }) %>
    </tbody>
  </table>
</div>

<% } %>

<%- include('../partials/footer') %>