<%- include('../partials/header') %>
<div class="table-container is-mobile">
    <table class="table is-mobile">
      <thead class="is-mobile">
        <tr>
          <% if(user) { %>
          <th title="Save">Save</th>
          <% } %>
          <th title="Cover">Cover</th>
          <th title="Title">Title</th>
          <th title="Author">Author</th>
          <th title="Year Published">Published</th>
          <th title="Description">Description</th>
          <th title="Pages">Pages</th>
        </tr>
      </thead>
      <% bookData.items.forEach(function(b) { %>
      <tbody class="table is-bordered is-narrow is-mobile">
        <tr>
          <% if(user) { %>
          <td>
            
            <form action="/books/save" method="POST">

              <input type="hidden" name="title" value="<%= b.volumeInfo.title %>">
              <input type="hidden" name="author" value="<%= b.volumeInfo.authors %>">              
              <input type="hidden" name="datePublished" value="<%= b.volumeInfo.publishedDate %>">              
              <input type="hidden" name="pageCount" value="<%= b.volumeInfo.pageCount %>">              

              <!-- <button class="button is-inverted"> -->
              <button id="bookmark-icon" class="icon is-medium">
                  <span class="icon is-clickable"><i class="fa-regular fa-bookmark"></i></span>
              </button>
              
              <!-- </button> -->
            </form>
          </td>
          <% } %>
          <td class="image">
          <figure class="image">
              <% if (b.volumeInfo.imageLinks) { %>
              <img src="<%= b.volumeInfo.imageLinks.thumbnail %>" alt=" "> 
              <% } %>
          </figure>
          </td>
          <td><%= b.volumeInfo.title %></td>
          <td><%= b.volumeInfo.authors %></td>
          <td><%= b.volumeInfo.publishedDate %></td>
          <td class="is-clipped"><%= b.volumeInfo.description %></td>
          <td><%= b.volumeInfo.pageCount %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>


<%- include('../partials/footer') %>